table {
	margin-left: 15px;
}
tr {
	height: 44px;
}
.border {
	border-bottom: 2px solid #dddddd;
}
#first {
	border-bottom: 2px solid #dddddd;
	border-top: 2px solid #cccccc;
}
.item1 {
	width: 70px;
	padding-left: 10px;
}
.item2 {
	width: 170px;
}
.item3 {
	width: 190px;
}
.item4 {
	padding-right: 180px;
}
#stats {
	border-top: 2px solid #dddddd;
	border-bottom: 2px solid #dddddd;
}
.statnum {
	font-size: 36px;
	font-weight: bold;
	padding-top: 16px;
}
.statname {
	font-size: 12px;
	color: #bababa;
	padding-bottom: 20px;
}
#td1 {
	padding-left: 18px;
}
#td2 {
	padding-left: 38px;
}
#td3 {
	padding-left: 38px;
	padding-right: 18px;
}
.stats {
	text-align: center;
}
#bars {
	width: 100%;
}
#bars tr {
	text-align: right;
}
#bars td {
	background-color: ;
}