table {
	margin-left: 15px;
}
.nicer {
	height: 44px;
}
.border {
	border-bottom: 2px solid #dddddd;
}
#first {
	border-bottom: 2px solid #dddddd;
	border-top: 2px solid #cccccc;
}
.item1 {
	width: 70px;
	padding-left: 10px;
}
.item2 {
	width: 170px;
}
.item3 {
	width: 190px;
}
.item4 {
	padding-right: 180px;
}
#stats {
	border-top: 2px solid #dddddd;
	border-bottom: 2px solid #dddddd;
}
.statnum {
	font-size: 36px;
	font-weight: bold;
	padding-top: 16px;
}
.statname {
	font-size: 12px;
	color: #bababa;
	padding-bottom: 20px;
}
#td1 {
	padding-left: 18px;
}
#td2 {
	padding-left: 38px;
}
#td3 {
	padding-left: 38px;
	padding-right: 18px;
}
.stats {
	text-align: center;
}
#bars {
	width: 95%;
}
.bars-code {
	text-align: right;
	padding-right: 10px;
	width: 15%;
}
.bars-bar div {
	background-color: #629edb;
	color: #ffffff;
	border-radius: 0px 5px 5px 0px;
	text-align: left;
	height: 25px;
	line-height: 25px;
	padding-left: 10px;
}
#container {
	background-color: rgba(88, 88, 88, 0.95);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#inner-container {
	box-sizing: border-box;
	margin: 14% auto;
	background-color: #ffffff;
	border-radius: 10px;
	padding: 20px 20px 20px 20px;
	overflow: hidden;
	width: 540px;
}
#button {
	background-color: #ec828a;
	color: #ffffff;
	text-decoration: none;
	float: right;
	border-radius: 5px;
	padding: 8px 32px 8px 32px ;
}